In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.svm import SVC
import statsmodels.api as sm
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier, plot_tree

In [4]:
election_result = pd.read_csv("election_result.csv")

In [10]:
election_result = election_result.rename(columns={'county_fips': 'FIPS Code'})

In [48]:
election_result

      FIPS Code  Rep2020  Rep2016
0          1001        1        1
1          1003        1        1
2          1005        1        1
3          1007        1        1
4          1009        1        1
...         ...      ...      ...
3106      56037        1        1
3107      56039        0        0
3108      56041        1        1
3109      56043        1        1
3110      56045        1        1

[3111 rows x 3 columns]

In [7]:
Education = pd.read_csv("Education.csv")

In [12]:
Education = Education.drop(["State","Area name"], axis=1)

In [14]:
PopulationEstimates = pd.read_csv("PopulationEstimates.csv")

In [19]:
PopulationEstimates = PopulationEstimates.drop(["State","Area_Name"], axis=1)

In [20]:
PopulationEstimates = PopulationEstimates.rename(columns={'FIPStxt': 'FIPS Code'})

In [24]:
PovertyEstimates = pd.read_csv("PovertyEstimates.csv")

In [26]:
PovertyEstimates = PovertyEstimates.drop(["Stabr","Area_name"], axis=1)
PovertyEstimates = PovertyEstimates.rename(columns={'FIPStxt': 'FIPS Code'})

In [28]:
Unemployment = pd.read_csv("Unemployment.csv")

In [30]:

Unemployment = Unemployment.drop(["Stabr","area_name"], axis=1)
Unemployment = Unemployment.rename(columns={'fips_txt': 'FIPS Code'})

In [31]:
Unemployment

,FIPS Code,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,"163,100,055","157,115,247","5,984,808",3.7,"65,712",NaN
1,1000,"2,241,747","2,174,483","67,264",3.0,"51,771",100.0
2,1001,"26,172","25,458",714,2.7,"58,233",112.5
3,1003,"97,328","94,675","2,653",2.7,"59,871",115.6
4,1005,"8,537","8,213",324,3.8,"35,972",69.5
...,...,...,...,...,...,...,...
3270,72145,"13,037","11,791","1,246",9.6,NaN,NaN
3271,72147,"2,585","2,406",179,6.9,NaN,NaN
3272,72149,"7,406","6,231","1,175",15.9,NaN,NaN
3273,72151,"8,691","7,552","1,139",13.1,NaN,NaN
3274,72153,"9,759","8,331","1,428",14.6,NaN,NaN

In [32]:
df = Education.merge(PopulationEstimates, on='FIPS Code', how='inner', suffixes=('_1', '_2'))

In [34]:
df = df.merge(PovertyEstimates, on='FIPS Code', how='inner', suffixes=('_1', '_2'))

In [36]:
df = df.merge(Unemployment, on='FIPS Code', how='inner', suffixes=('_1', '_2'))

In [37]:
df

,FIPS Code,"Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19",N_POP_CHG_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,"26,472,261","59,472,748","63,756,905","70,920,162",12.0,27.0,28.9,32.1,"1,552,022",...,16.0,"65,712","65,594","65,830","163,100,055","157,115,247","5,984,808",3.7,"65,712",NaN
1,1000,"458,922","1,022,839","993,344","845,772",13.8,30.8,29.9,25.5,"15,504",...,21.6,"51,771","51,179","52,363","2,241,747","2,174,483","67,264",3.0,"51,771",100.0
2,1001,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6,336,...,19.4,"58,233","52,517","63,949","26,172","25,458",714,2.7,"58,233",112.5
3,1003,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9,"5,379",...,17.2,"59,871","54,593","65,149","97,328","94,675","2,653",2.7,"59,871",115.6
4,1005,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6,-186,...,49.0,"35,972","31,822","40,122","8,537","8,213",324,3.8,"35,972",69.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,"2,017","9,239","10,415","6,291",7.2,33.0,37.2,22.5,-515,...,11.1,"80,639","73,437","87,841","21,274","20,446",828,3.9,"80,639",121.9
3189,56039,834,"2,577","4,037","9,875",4.8,14.9,23.3,57.0,195,...,6.7,"98,837","86,531","111,143","15,575","15,151",424,2.7,"98,837",149.4
3190,56041,941,"5,383","4,562","2,078",7.3,41.5,35.2,16.0,-66,...,11.1,"70,756","63,191","78,321","9,035","8,682",353,3.9,"70,756",107.0
3191,56043,568,"1,650","2,031","1,297",10.2,29.8,36.6,23.4,-72,...,17.4,"55,122","50,050","60,194","3,941","3,786",155,3.9,"55,122",83.3
3192,56045,323,"1,904","1,844","1,016",6.3,37.4,36.2,20.0,3,...,16.7,"59,410","52,275","66,545","3,811","3,701",110,2.9,"59,410",89.8

In [46]:
final_df = election_result.merge(df, on='FIPS Code', how='inner', suffixes=('_1', '_2'))

In [47]:
final_df

,FIPS Code,Rep2020,Rep2016,"Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19",...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,1001,1,1,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,...,19.4,"58,233","52,517","63,949","26,172","25,458",714,2.7,"58,233",112.5
1,1003,1,1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,...,17.2,"59,871","54,593","65,149","97,328","94,675","2,653",2.7,"59,871",115.6
2,1005,1,1,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,...,49.0,"35,972","31,822","40,122","8,537","8,213",324,3.8,"35,972",69.5
3,1007,1,1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,...,32.7,"47,918","42,291","53,545","8,685","8,419",266,3.1,"47,918",92.6
4,1009,1,1,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,...,25.8,"52,902","46,777","59,027","25,331","24,655",676,2.7,"52,902",102.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,56037,1,1,"2,017","9,239","10,415","6,291",7.2,33.0,37.2,...,11.1,"80,639","73,437","87,841","21,274","20,446",828,3.9,"80,639",121.9
3107,56039,0,0,834,"2,577","4,037","9,875",4.8,14.9,23.3,...,6.7,"98,837","86,531","111,143","15,575","15,151",424,2.7,"98,837",149.4
3108,56041,1,1,941,"5,383","4,562","2,078",7.3,41.5,35.2,...,11.1,"70,756","63,191","78,321","9,035","8,682",353,3.9,"70,756",107.0
3109,56043,1,1,568,"1,650","2,031","1,297",10.2,29.8,36.6,...,17.4,"55,122","50,050","60,194","3,941","3,786",155,3.9,"55,122",83.3
3110,56045,1,1,323,"1,904","1,844","1,016",6.3,37.4,36.2,...,16.7,"59,410","52,275","66,545","3,811","3,701",110,2.9,"59,410",89.8

In [49]:
final_df.to_csv("final_df.csv",index=False)