In [1]:
import pandas as pd
import numpy as np
import re
import requests
from lxml import html
from IPython.display import display, display_pretty, Javascript, HTML

In [2]:
# connect to data

election_url = "https://static01.nyt.com/elections-assets/2020/data/api/2020-11-03/national-map-page/national/president.json"

# make an http request for the page
election_request = requests.request(
    method='GET', 
    url=election_url,
    headers={ "Accept": "application/json" }
)

election_response = election_request.json()

election_data = election_response['data']['races']

In [3]:
## parse response into dataframe, and select and rename final columns
election_data_df = pd.DataFrame(election_data)[['state_name', 'counties']].rename(columns={"state_name": "t_state_name"})

# after https://stackoverflow.com/a/49962887
# unnest 'counties' column, turning object keys in dataframe columns and object values into rows, select certain keys from each array, and rename those keys (columns)
election_data_df = pd.DataFrame(
    [
        dict(y, t_state_name=i) for i, x in zip(
            election_data_df['t_state_name'],
            election_data_df['counties']
        ) for y in x
    ]
)[['fips', 'name', 'votes', 't_state_name', 'results']].rename(columns={"fips": "geoid", "votes": "total_votes", "name": "t_county_name"})

# after https://stackoverflow.com/a/38231651
## unravel dictionary (JSON object) into other columns, choose final columns, rename them, and cast their data types
election_data_df = pd.concat(
    [
        election_data_df.drop(['results'], axis=1), 
        election_data_df['results'].apply(pd.Series)
    ], 
    axis=1
)[['geoid', 't_county_name', 'total_votes', 't_state_name', 'trumpd', 'bidenj']].rename(columns={"trumpd": "votes_gop", "bidenj": "votes_dem"}).astype({'votes_gop': 'int64', 'votes_dem': 'int64'})

# create state FIPS codes from the 5-digit 'geoid'
election_data_df['state_fips'] = election_data_df['geoid'].str[:2]

print(election_data_df.shape, election_data_df.dtypes)
election_data_df.head(10)

(3159, 7) geoid            object
t_county_name    object
total_votes       int64
t_state_name     object
votes_gop         int64
votes_dem         int64
state_fips       object
dtype: object

,geoid,t_county_name,total_votes,t_state_name,votes_gop,votes_dem,state_fips
0,02901,ED 1,7360,Alaska,3511,3477,02
1,02910,ED 10,11256,Alaska,8081,2727,02
2,02911,ED 11,10686,Alaska,7096,3130,02
3,02912,ED 12,11280,Alaska,7893,2957,02
4,02913,ED 13,7765,Alaska,4652,2666,02
5,02914,ED 14,11534,Alaska,6714,4261,02
6,02915,ED 15,5593,Alaska,2671,2622,02
7,02916,ED 16,8170,Alaska,3516,4274,02
8,02917,ED 17,7271,Alaska,2810,4136,02
9,02918,ED 18,7759,Alaska,2760,4681,02

In [6]:
# NEEDS VPN!!!!!!!!!!!

# read state file csv and create dataframe
census_states = pd.read_csv(
    'https://www2.census.gov/geo/docs/reference/state.txt',
    delimiter='|',
    header=0,
    usecols=[0,1,2],
    names=['state_fips', 'state_abbr', 'c_state_name'],
    dtype=str
)

# define a list of FIPS codes of the internally-autonomous entities the U.S. has some control over
suzerainty_fips = ['60','66','69','72','74','78']

# filter out these Suzerainty entities
census_states = census_states[~census_states.state_fips.isin(suzerainty_fips)]

print(census_states.shape, '\n', census_states.dtypes)
census_states.tail(7)

(51, 3)
 state_fips      object
state_abbr      object
c_state_name    object
dtype: object

   state_fips state_abbr   c_state_name
44         49         UT           Utah
45         50         VT        Vermont
46         51         VA       Virginia
47         53         WA     Washington
48         54         WV  West Virginia
49         55         WI      Wisconsin
50         56         WY        Wyoming

In [7]:
# get county geography data

# base_url where all the county gazetteer files live
gazetteer_url = "https://www2.census.gov/geo/docs/maps-data/data/gazetteer/2019_Gazetteer/"

# make an http request for the page
page = requests.request(
    method='GET', 
    url=gazetteer_url,
    headers={ "Accept": "application/json" }
)

# parse the page and return a DOM tree
tree = html.fromstring(page.content)

# use XPath to return a list of link texts ('a' elements within the 'table' element) from the DOM
gazatteer_files = tree.xpath('//td/a/text()')

# filter the list to return only county file names
county_files = [c for c in gazatteer_files if re.match(r'.*counties.*\.txt', c)]

county_files

['2019_gaz_counties_01.txt',
 '2019_gaz_counties_02.txt',
 '2019_gaz_counties_04.txt',
 '2019_gaz_counties_05.txt',
 '2019_gaz_counties_06.txt',
 '2019_gaz_counties_08.txt',
 '2019_gaz_counties_09.txt',
 '2019_gaz_counties_10.txt',
 '2019_gaz_counties_11.txt',
 '2019_gaz_counties_12.txt',
 '2019_gaz_counties_13.txt',
 '2019_gaz_counties_15.txt',
 '2019_gaz_counties_16.txt',
 '2019_gaz_counties_17.txt',
 '2019_gaz_counties_18.txt',
 '2019_gaz_counties_19.txt',
 '2019_gaz_counties_20.txt',
 '2019_gaz_counties_21.txt',
 '2019_gaz_counties_22.txt',
 '2019_gaz_counties_23.txt',
 '2019_gaz_counties_24.txt',
 '2019_gaz_counties_25.txt',
 '2019_gaz_counties_26.txt',
 '2019_gaz_counties_27.txt',
 '2019_gaz_counties_28.txt',
 '2019_gaz_counties_29.txt',
 '2019_gaz_counties_30.txt',
 '2019_gaz_counties_31.txt',
 '2019_gaz_counties_32.txt',
 '2019_gaz_counties_33.txt',
 '2019_gaz_counties_34.txt',
 '2019_gaz_counties_35.txt',
 '2019_gaz_counties_36.txt',
 '2019_gaz_counties_37.txt',
 '2019_gaz_counties_38.txt',
 '2019_gaz_counties_39.txt',
 '2019_gaz_counties_40.txt',
 '2019_gaz_counties_41.txt',
 '2019_gaz_counties_42.txt',
 '2019_gaz_counties_44.txt',
 '2019_gaz_counties_45.txt',
 '2019_gaz_counties_46.txt',
 '2019_gaz_counties_47.txt',
 '2019_gaz_counties_48.txt',
 '2019_gaz_counties_49.txt',
 '2019_gaz_counties_50.txt',
 '2019_gaz_counties_51.txt',
 '2019_gaz_counties_53.txt',
 '2019_gaz_counties_54.txt',
 '2019_gaz_counties_55.txt',
 '2019_gaz_counties_56.txt',
 '2019_gaz_counties_72.txt']

In [8]:
# read each county file csv
census_county_files = [
    pd.read_csv(
        gazetteer_url + county_file,
        delimiter='\t',
        lineterminator='\n',
        header=0,
        usecols=[1,3],
        names=['geoid', 'c_county_name'],
        dtype=str
    ) for county_file in county_files]

# combine into a dataframe
census_counties = pd.concat(census_county_files, ignore_index=True)

# create state FIPS codes from the 5-digit 'geoid'
census_counties['state_fips'] = census_counties['geoid'].str[:2]

print(census_counties.shape, '\n', census_counties.dtypes)
census_counties.tail(10)

(3220, 3)
 geoid            object
c_county_name    object
state_fips       object
dtype: object

      geoid            c_county_name state_fips
3210  72135       Toa Alta Municipio         72
3211  72137       Toa Baja Municipio         72
3212  72139  Trujillo Alto Municipio         72
3213  72141         Utuado Municipio         72
3214  72143      Vega Alta Municipio         72
3215  72145      Vega Baja Municipio         72
3216  72147        Vieques Municipio         72
3217  72149       Villalba Municipio         72
3218  72151        Yabucoa Municipio         72
3219  72153          Yauco Municipio         72

In [9]:
# merge state and county geography data
census_geographies = census_states.merge(
    census_counties, 
    on='state_fips',
    how="left"
)

# drop and rename duplicate keys
census_geographies = census_geographies.drop(['state_fips', 'state_abbr'], axis=1)

print(census_geographies.shape, '\n', census_geographies.dtypes)
census_geographies.tail(10)

(3142, 3)
 c_state_name     object
geoid            object
c_county_name    object
dtype: object

     c_state_name  geoid      c_county_name
3132      Wyoming  56027    Niobrara County
3133      Wyoming  56029        Park County
3134      Wyoming  56031      Platte County
3135      Wyoming  56033    Sheridan County
3136      Wyoming  56035    Sublette County
3137      Wyoming  56037  Sweetwater County
3138      Wyoming  56039       Teton County
3139      Wyoming  56041       Uinta County
3140      Wyoming  56043    Washakie County
3141      Wyoming  56045      Weston County

In [11]:
#merge county election data with county geographies

## merge to county geography files on county FIPS code
election_results = election_data_df.merge(
    right=census_geographies,
    on="geoid",
    how="left"
)

## create authoritative state and county name columns provided by Census
election_results['state_name'] = np.where(
    pd.isnull(election_results['c_state_name']), 
    election_results['t_state_name'], 
    election_results['c_state_name']
)

election_results['county_name'] = np.where(
    pd.isnull(election_results['c_county_name']), 
    election_results['t_county_name'], 
    election_results['c_county_name']
)

## replace Alaska District names
election_results['county_name'].replace('(ED )','District ', inplace=True, regex=True)

election_results = election_results.drop(["t_county_name", "t_state_name", "c_county_name", "c_state_name"], axis=1)

## filter dataframe to exclude Washington, D.C.
other_results = election_results[election_results['state_fips'] != '11']

### filter dataframe to just Washington, D.C. results
dc_results = election_results[election_results['state_fips'] == '11']

## rollup Washington, D.C. ward-level results to the state level
### aggregate votes and pluck first names
dc_results_aggregates = dc_results.groupby('state_fips', as_index=False).agg(
    { 'geoid': 'min', 'state_name': 'min', 'county_name': 'min', 'total_votes': 'sum', 'votes_gop': 'sum', 'votes_dem': 'sum' }
)

## combine DC and other county results, rename columns to match column names historically used in this repo
county_level_final = other_results.append(
    dc_results_aggregates, sort=True
).reset_index(
    drop=True
).drop(
    ['state_fips'], axis=1
).rename(
    columns={'geoid': 'county_fips'}
).sort_values(
    by='county_fips'
).reindex(
    columns=['state_name','county_fips','county_name','votes_gop','votes_dem','total_votes','diff','per_gop','per_dem','per_point_diff']
)

## add other metrics, including percentage of total votes captured by the GOP candidate, percentage of total votes captured by the DEM candidate, total difference between the two, and the percentage point difference
county_level_final['per_gop'] = np.where(
    county_level_final['total_votes'] == 0, 
    0, 
    county_level_final['votes_gop'] / county_level_final['total_votes']
)

county_level_final['per_dem'] = np.where(
    county_level_final['total_votes'] == 0, 
    0, 
    county_level_final['votes_dem'] / county_level_final['total_votes']
)

county_level_final['diff'] = county_level_final['votes_gop'] - county_level_final['votes_dem']
county_level_final['per_point_diff'] = county_level_final['per_gop'] - county_level_final['per_dem']

print(county_level_final.shape, '\n', county_level_final.dtypes)
county_level_final.tail(15)

(3152, 10)
 state_name         object
county_fips        object
county_name        object
votes_gop           int64
votes_dem           int64
total_votes         int64
diff                int64
per_gop           float64
per_dem           float64
per_point_diff    float64
dtype: object

,state_name,county_fips,county_name,votes_gop,votes_dem,total_votes,diff,per_gop,per_dem,per_point_diff
3136,Wyoming,56017,Hot Springs County,1999,482,2577,1517,0.775708,0.187039,0.588669
3137,Wyoming,56019,Johnson County,3881,897,4914,2984,0.789784,0.182540,0.607245
3138,Wyoming,56021,Laramie County,27891,15217,44982,12674,0.620048,0.338291,0.281757
3139,Wyoming,56023,Lincoln County,8643,1509,10468,7134,0.825659,0.144154,0.681506
3140,Wyoming,56025,Natrona County,25271,8530,35202,16741,0.717885,0.242316,0.475570
3141,Wyoming,56027,Niobrara County,1118,155,1308,963,0.854740,0.118502,0.736239
3142,Wyoming,56029,Park County,12813,3410,16717,9403,0.766465,0.203984,0.562481
3143,Wyoming,56031,Platte County,3898,890,4923,3008,0.791794,0.180784,0.611010
3144,Wyoming,56033,Sheridan County,11843,4043,16428,7800,0.720903,0.246104,0.474799
3145,Wyoming,56035,Sublette County,3957,882,4970,3075,0.796177,0.177465,0.618712
3146,Wyoming,56037,Sweetwater County,12229,3823,16603,8406,0.736554,0.230260,0.506294
3147,Wyoming,56039,Teton County,4341,9848,14677,-5507,0.295769,0.670982,-0.375213
3148,Wyoming,56041,Uinta County,7496,1591,9402,5905,0.797277,0.169219,0.628058
3149,Wyoming,56043,Washakie County,3245,651,4012,2594,0.808824,0.162263,0.646560
3150,Wyoming,56045,Weston County,3107,360,3542,2747,0.877188,0.101637,0.775551

In [12]:
county_level_final.to_csv(
    '2020_US_County_Level_Presidential_Results.csv',
    sep=',',
    index=False
)